* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-active: #fd9319; /* 다크 테마시 변경 없음 */
  --color-deactive: #07b1bc; /* 다크 테마시 변경 없음 */
  --color-bg: white; /* 다크 테마시 #1e1e24 */
  --color-text: #121212; /* 다크 테마시 white */
  --color-sidebar: white; /* 다크 테마시 #121212 */
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition:
    background-color 0.3s,
    color 0.3s;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-wrap {
  display: flex;
  flex: 1;
  overflow: hidden;
}

main {
  flex: 1;
  min-width: 0;
  overflow-y: auto;
  margin-left: 70px; /* Sidebar 닫힌 너비 */
  margin-right: 60px; /* FriendsList 닫힌 너비 */
}
